header {
  .masthead {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.45)
      ),
      url(/assets/images/page-header/masthead2.jpg);
    @include background-image-setting(top, cover, no-repeat, scroll);
    height: 98vh;
    max-height: -webkit-fill-available;
    color: #fff;
    margin-top: 3.25rem;
    .masthead__content {
      h1 {
        font-size: 2rem;
        line-height: 120%;
        margin: 0 0 0.35rem 0;
      }
      h4 {
        font-size: 1.15rem;
        margin: 0 0 0.75rem 0;
      }
      .masthead__search-form {
        .input-container {
          width: 85%;
          margin: 2rem auto 0 auto;
          position: relative;
          .destination__quick--search {
            background: transparent;
            height: 60px;
            width: 100%;
            padding: 0;
            border: 2px solid #fff;
            border-width: 0 0 2px 0;
            box-shadow: none;
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &[type="text"] {
              font-size: 1.5rem;
              color: #fff;
            }
          }
          .destination__quick--search-button {
            position: absolute;
            top: 7px;
            right: 0;
            border: none;
            background: none;
            padding: 0 0 0 0.25rem;
            z-index: 10;
            i {
              font-size: 1.5rem;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .page-title {
    height: 65vh;
    background: $color-main;
    @include background-image-setting(center, cover, no-repeat, scroll);
    margin-top: 6rem;
    h1 {
      font-size: 3rem;
      text-align: center;
    }
    &.page-title--blog {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.45)),
        url(/assets/images/page-header/blog-header.jpg);
    }
    &.page-title--contact {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.45)),
        url(/assets/images/page-header/contact-header.jpg);
    }
    &.page-title--about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.45)),
        url(/assets/images/page-header/about-header.jpg);
    }
    &.page-title--faqs {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.45)),
        url(/assets/images/page-header/faqs-header.jpg);
    }
  }
}
@include media-breakpoint-up(md) {
  header {
    .masthead {
      height: 98vh;
      .masthead__content {
        h1 {
          font-size: 3rem;
        }
        h4 {
          font-size: 1.5rem;
        }
        .masthead__search-form {
          .input-container {
            width: 600px;
            .destination__quick--search {
              &[type="text"] {
                font-size: 2.25rem;
              }
            }
            .destination__quick--search-button {
              i {
                font-size: 2.25rem;
              }
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  header {
    .page-title {
      height: 60vh;
      margin-top: 3.25rem;
    }
  }
}
