.faqs-section {
    .faqs {
        .faqs__container {
            margin: 0 0 1.75rem 0;
            p.faq__question {
                font-weight: 500;
                margin: 0 0 0.75rem;
            }
            p.faq__answer {
                margin:0;
            }
        }
    }
    .faqs-sidebar {
        padding: 2.5rem 1.25rem;
        border-radius: 2px;
        position: sticky;
        flex-direction: column;
        flex-wrap: wrap;
        top:3.75rem;
        .nav-item {
            margin: 0 0 1.25rem 0;
            padding:0;
            width: 100%;
            .nav-link{
                padding:0;
                    color: $color-heading;
                    &:hover, &:active, &.active {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
